on: [push, pull_request]
name: Test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x
    - name: Install Packages
      run: |
        sudo apt-get -qq update
        sudo apt-get install -y build-essential curl
        echo -n "Determining latest build... "
        LATEST=`curl -s http://commondatastorage.googleapis.com/chromium-browser-snapshots/Linux_x64/LAST_CHANGE`
        echo "done!"
        echo "http://commondatastorage.googleapis.com/chromium-browser-snapshots/Linux_x64/$LATEST/chrome-linux.zip"
        echo -n "Downloading build for $LATEST... "
        curl -L http://commondatastorage.googleapis.com/chromium-browser-snapshots/Linux_x64/$LATEST/chrome-linux.zip -o chrome-linux.zip
        echo "done!"
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: |
        cd v2 && go test -v -race ./...